<h1>Please Sign in</h1>

<form action='/sessions' method='post'>
  <p>
    <label for'email'>Email: </label>
    <input type='text' name='email' required >
  </p>
  <p>
  <p>
    <label for 'password'>Password</label>
    <input type='password' name='password'>
  </p>
    <input type='submit' value='Sign In'>
</form>
