<form method='post' action='/links'>
  Title: <input type='text' name='title'>
  URL: <input type='text' name='url'>
  TAG: <input type='text' name='tag'>
  <input type='submit' value='Submit'>
</form>
