<!DOCTYPE html>

<html>
  <head>
    <title>Bookmark Manager v2.0</title>
  </head>

  <body>
    <% if current_user %>
      Welcome <%= current_user.username %>!
    <% end %>
    <% if flash[:errors] %>
      <div id='error'><%= flash[:errors] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
