<% if @login_attempt%>
    <h3>Passwords don't match: please reenter your password</h3>
<% end %>

<form action='/signup/new' method='post'>
  <label for'username'>Username</label>
  <input type='text' name='username' value='<%= @user.username %>'><br>
  <label for'email'>Email</label>
  <input type='text' name='email' value='<%= @user.email %>' ><br>
  <label for 'password'>Password</label>
  <input type='password' name='password'><br>
  <label for 'password_confirmation'>Confirm password</label>
  <input type='password' name='password_confirmation'><br>
  <input type='submit' value='Sign Up'>
</form>
