<h1>Please Signup</h1>

<form action='/users/new' method='post'>
  <p>
    <label for'username'>Username
      <abbr title='This field is mandatory'>*</abbr>
    </label>
    <input type='text' name='username' value='<%= @user.username %>'
           required >
  </p>
  <p>
    <label for'email'>Email
      <abbr title='This field is mandatory'>*</abbr>
    </label>
    <input type='text' name='email' value='<%= @user.email %>' required
    placeholder="Valid email address"
    pattern="^[a-zA-Z][a-zA-Z0-9\._-]+@[a-zA-Z0-9][a-zA-Z0-9_.-]+\.[a-zA-Z]+$">
  </p>
  <p>
    <label for 'password'>Password
      <abbr title='This field is mandatory'>*</abbr>
    </label>
    <input type='password' name='password'>
  </p>
  <p>
    <label for 'password_confirmation'>Confirm password
      <abbr title='This field is mandatory'>*</abbr>
    </label>
    <input type='password' name='password_confirmation'>
  </p>
    <input type='submit' value='Sign Up'>
</form>
